html {
    font-family: sans-serif;
    color: #111111;
}

body {
    margin: auto;
    width: 90%;
    max-width: 900px;
}

.forms {
    width: 400px;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    body {
        width: 100vw;
        max-width: 100vw;
    }

    .intro {
        padding: 10px;
    }

    .forms {
        width: 100vw;
        max-width: 100vw;
        margin: initial;
    }
}

.forms > div {
    margin: 5px;
}

#canvasContainer {
    margin-top: 20px;
    position: relative;
    height: 50vh;
}

.warnings {
    background-color: rgb(220,220,220);
    padding: 5px;
    margin: 5px;
    text-align:center;
}

.warnings p {
    margin-top: 5px;
    margin-bottom: 0;
}

input {
    flex: 10%;
    width: 10%;
    height: 20px;
    font-size: 12px;
    display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

label {
    flex: 40%;
    width: 40%;
    font-size: 16px;
    float: left;
    padding: 1px 10px;
    text-align: center;
}
